appdirs==1.4.0
autobahn==0.16.0
chardet==2.3.0
click==6.6
cupshelpers==1.0
docopt==0.6.2
Flask==0.11.1
gmpy2==2.0.8
gunicorn==19.4.5
itsdangerous==0.24
jedi==0.9.0
Jinja2==2.11.3
lightdm-gtk-greeter-settings==1.2.1
livestreamer==1.12.2
louis==3.0.0
lxml==3.6.4
MarkupSafe==0.23
mpmath==0.19
namcap==3.2.7
openface==0.2.1
packaging==16.7
pacman-mirrors==2.0
pyalpm==0.8
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyelftools==0.24
pygobject==3.20.1
pyparsing==2.1.9
pyxdg==0.25
PyYAML==3.12
requests==2.11.1
six==1.10.0
sympy==1.0
team==1.0
Twisted==16.4.1
txaio==2.5.1
udiskie==1.4.12
urllib3==1.18
Werkzeug==0.11.11
zope.interface==4.3.2
